.main-container {
    width: 100vw;
    min-height: calc(100vh - 150px);

    background-color: #201C1B;
    color: #E8D9CA;
    font-weight: bold;

    text-align: center;
    vertical-align: middle;
}