/* You can add global styles to this file, and also import other style files */
* {
    font-family: 'Zen Loop', cursive !important;
}

body {margin: 0%; font-size: 18px;}
html, body { height: 100%; width: 100vw;}
